[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
djangorestframework = "*"
django = "*"
numpy = "*"
ipykernel = "*"
bokeh = "*"
openai = "*"
rich = "*"
typer = {extras = ["all"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
